{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5" style="padding-top: 100px;">
    <h1 class="text-center mb-5">Ajout d'un bien</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'form'}}) }}

                    {% for field in form.children %}
                    <div class="mb-3">
                        {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_errors(field) }}
                        {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {% endfor %}

                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary">Ajouter le bien</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
